/* You can add global styles to this file, and also import other style files */
// Fonts for material
@use "roboto-fontface/css/roboto/sass/roboto-fontface" with (
  $roboto-font-path: "~roboto-fontface/fonts"
);
@use "material-icons/iconfont/material-icons";

@import url("~@angular/cdk/overlay-prebuilt.css");

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Styles for MatImageOverlay must be placed in global
   styles.scss because of angular view encapsulation */
.demo-backdrop-class {
  background: rgba(0 0 0 / 32%);
}
