<h1 class="title">Demo project for mat-image-overlay</h1>
<p class="description">A component for Angular using Angular Material that shows images as overlays.<br>The project contains a library component and a demo project.</p>
<p class="source-link">
  <span>Source on github: </span>
  <a href="https://github.com/BePo65/mat-image-overlay">BePo65/mat-image-overlay</a>
</p>
<div class="image-selection">
  <div *ngFor="let image of images">
    <img width="128" [src]="image" (click)="openImageOverlay(image)">
  </div>
</div>

<p class="actions">
  Click on one of the images above or <a href="#" (click)="openImageOverlay()" data-cy="open-overlay">open the overlay here</a>
</p>
