<h1 class="title">Demo project for mat-image-overlay</h1>
<p class="description">A component for Angular using Angular Material that shows images as overlays.<br>The project contains a library component and a demo project.</p>
<p class="source-link">
  <span>Source on github: </span>
  <a href="https://github.com/BePo65/mat-image-overlay">BePo65/mat-image-overlay</a>
</p>
<div class="container">
  <div class="images-container">
    <div class="image-preview-container first-container">
      <h3 class="container-title">Demo 1 - string array as image source</h3>
      <div class="image-selection">
        <div *ngFor="let imageUrl of stringImages; let imageIndex = index">
          <img class="image-link" height="100" [src]="imageUrl" (click)="openOverlayDemo1Image(imageIndex)">
        </div>
      </div>
      <p class="actions" data-cy="demo-1-action">
        <span>Click on one of the images above to open overlay or here to </span>
        <a href="#" (click)="startOverlayDemo1Show()" data-cy="open-demo-1-show">show external navigation</a>
      </p>
    </div>
    <div class="image-preview-container next-container">
      <h3 class="container-title">Demo 2 - object array as image source</h3>
      <div class="image-selection">
        <div *ngFor="let imageData of objectImages; let imageIndex = index; trackBy: trackByImageId">
          <img class="images-compact" [src]="urlForObjectImagesPreview(imageIndex)"
               [height]="thumbnailHeight" [width]="thumbnailWidth(imageIndex)"
               [alt]="imageDescription(imageIndex)" [title]="imageDescription(imageIndex)"
               (click)="openOverlayDemo2Image(imageIndex)">
        </div>
      </div>
      <p class="actions" data-cy="demo-2-action">
        <span>Click on one of the images above to open overlay or here to </span>
        <a href="#" (click)="startOverlayDemo2Show()" data-cy="open-demo-2-show">show external navigation</a>
      </p>
    </div>
    <div class="image-preview-container next-container">
      <h3 class="container-title">Demo 3 - overlay image with minimal configuration</h3>
      <div class="image-selection">
        <a href="#" (click)="openMinimalConfigImageOverlay()" title="click to open first image" data-cy="open-min-config">
          <img class="image-link" height="100" src="assets/minimalConfigDemo.jpg">
        </a>
      </div>
      <p class="actions" data-cy="start-show">
        <a href="#" (click)="openMinimalConfigImageOverlay()" data-cy="open-demo-3">Open first image in overlay</a>
      </p>
    </div>
  </div>
  <div class="options-container">
    <h3>Options</h3>
    <form [formGroup]="optionsForm">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Show navigational buttons</mat-label>
        <mat-select formControlName="buttonStyle" required>
          <mat-option *ngFor="let style of elementDisplayStyle | numericEnumToArray" [value]="style.value">
            {{style.key}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="optionsForm.controls['buttonStyle'].touched && optionsForm.controls['buttonStyle'].invalid">
          <span *ngIf="optionsForm.controls['buttonStyle'].errors?.['required']">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Show image description</mat-label>
        <mat-select formControlName="descriptionStyle" required>
          <mat-option *ngFor="let style of elementDisplayStyle | numericEnumToArray" [value]="style.value">
            {{style.key}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="optionsForm.controls['descriptionStyle'].touched && optionsForm.controls['descriptionStyle'].invalid">
          <span *ngIf="optionsForm.controls['descriptionStyle'].errors?.['required']">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Position of image description (when 'onHover')</mat-label>
        <mat-select formControlName="descriptionPosition" required>
          <mat-option *ngFor="let position of elementDisplayPosition | numericEnumToArray" [value]="position.value">
            {{position.key}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="optionsForm.controls['descriptionPosition'].touched && optionsForm.controls['descriptionPosition'].invalid">
          <span *ngIf="optionsForm.controls['descriptionPosition'].errors?.['required']">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>backdropClass of overlay</mat-label>
        <mat-select formControlName="backdropClass">
          <mat-option *ngFor="let backdropClass of elementBackdropClass | stringEnumToArray" [value]="backdropClass.value">
            {{backdropClass.key}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>
</div>
