.title {
  color: gray;
  margin: 0 0 1.5rem;
  padding-top: 1.5rem;
  text-align: center;
}

.description {
  margin: 0 0 1rem;
  text-align: center;
}

.source-link {
  margin: 0 0 3rem;
  text-align: center;
}

.actions {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
}

.image-selection {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 0 0 3em;
}

img {
  border: 2px solid silver;
  margin: 5px;
}

.options-container {
  border: 1px solid gray;
  margin: 0 auto;
  padding: 0 1rem;
  width: 400px;
}

.form-field {
  display: block;
}
