.title {
  color: gray;
  margin: 0 0 1.5rem;
  padding-top: 1.5rem;
  text-align: center;
}

.description {
  margin: 0 0 1rem;
  text-align: center;
}

.source-link {
  margin: 0 0 2rem;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: auto 460px;
  grid-template-rows: 1fr;
  grid-template-areas: "images options";
  gap: 0 10px;
}

.images-container {
  grid-area: images;
}

.options-container {
  border: 1px solid gray;
  grid-area: options;
  margin: 0 auto;
  padding: 0 1rem;
  width: 400px;
}

.image-preview-container {
  border: 1px solid gray;
  margin: 0 auto;
  padding: 0 1rem 0.5rem;
  width: 650px;
}

.next-container {
  margin-top: 1em;
}

.container-title {
  text-align: center;
}

.actions {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
}

.image-selection {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
}

img {
  border: 2px solid silver;
  margin: 5px;
}

.image-link {
  cursor: pointer;
}

.form-field {
  display: block;
}
